{% extends 'layouts/page.njk' %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Submit a git repository for code review"
  }) }}

  {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors.items
    }) }}
  {% endif %}

  <form method="post" action="/" novalidate>
    {{ govukInput({
      label: {
        text: "Repository URL",
        classes: "govuk-label--m"
      },
      id: "repository-url",
      name: "repository_url",
      type: "url",
      autocomplete: "url",
      spellcheck: false,
      classes: "govuk-!-width-two-thirds",
      errorMessage: (errors.repositoryUrl if errors else null) if errors else null,
      value: (values.repositoryUrl if values else '') if values else ''
    }) }}

    {% set standardSetItems = [] %}
    {% for set in standardSets | default([]) %}
      {% set standardSetItems = standardSetItems.concat([{
        value: set._id,
        text: set.name,
        checked: false,
        hint: {
          html: 'View the <a class="govuk-link" href="' + set.repository_url + '" target="_blank" rel="noopener noreferrer">' + set.name + ' (opens in new tab)</a>'
        }
      }]) %}
    {% endfor %}

    {{ govukCheckboxes({
      name: "standard_sets",
      fieldset: {
        legend: {
          text: "Standards",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: standardSetItems
    }) }}

    {{ govukButton({
      text: "Generate code review"
    }) }}
  </form>

{% endblock %}
