{% extends "layouts/page.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Code Reviews"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Code Reviews</h1>
      
      <div class="govuk-body">
        <p>View previous automated code reviews</p>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if tableRows and tableRows.length > 0 %}
        {{ govukTable({
          caption: "Current Code Reviews",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: false,
          attributes: {
            "aria-label": "List of all code reviews with their status",
            "data-module": "govuk-table"
          },
          classes: "app-code-reviews-table",
          head: [
            {
              text: "Code Repository",
              attributes: {
                "aria-sort": "none",
                scope: "col"
              }
            },
            {
              text: "Created",
              attributes: {
                "aria-sort": "none",
                scope: "col"
              }
            },
            {
              text: "Updated",
              attributes: {
                "aria-sort": "none",
                scope: "col"
              }
            },
            {
              text: "Status",
              attributes: {
                "aria-sort": "none",
                scope: "col"
              }
            }
          ],
          rows: tableRows
        }) }}
      {% else %}
        <div class="govuk-inset-text" role="region" aria-label="No reviews found">
          <p class="govuk-body">No code reviews found. Use the button above to start a new code review.</p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %} 