{% extends "layouts/page.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
  Standard Sets - Defra AI Code Review
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      {{ govukBreadcrumbs({
        items: [
          {
            text: "Home",
            href: "/"
          },
          {
            text: "Standards",
            href: "/standards"
          },
          {
            text: "Standard Sets"
          }
        ]
      }) }}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

          <p class="govuk-body">Use standard sets to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>manage standards sets</li>
            <li>view the standards within a set</li>
            <li>view the classifications of each standard</li>
          </ul>

          {% if standardSets.length > 0 %}
            {% set tableRows = [] %}
            {% for set in standardSets %}
              {% set tableRows = (tableRows.push([
                {
                  html: '<span class="govuk-!-font-weight-bold">' + set.name + '</span><br><span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-16">' + set.repository_url + '</span>'
                },
                {
                  html: '<form method="POST" action="/standards/standard-sets/' + set._id + '/delete">
                    ' + govukButton({
                      text: "Delete",
                      classes: "govuk-button--warning govuk-!-margin-0",
                      attributes: {
                        "data-module": "govuk-button",
                        "data-prevent-double-click": "true"
                      }
                    }) + '
                  </form>'
                }
              ]), tableRows) %}
            {% endfor %}

            {{ govukTable({
              caption: "Current Standard Sets",
              captionClasses: "govuk-table__caption--m",
              firstCellIsHeader: true,
              head: [
                {
                  text: "Standard Set"
                },
                {
                  text: "Actions",
                  classes: "govuk-!-width-one-quarter"
                }
              ],
              rows: tableRows
            }) }}
          {% else %}
            <p class="govuk-body-l" role="alert">No standard sets found. Add your first standard set below.</p>
          {% endif %}
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-margin-top-6">
        <div class="govuk-grid-column-two-thirds">
          <form method="GET" action="/standards/standard-sets/create" novalidate>
            <h2 class="govuk-heading-m">Add new standard set</h2>
            {{ govukButton({
              text: "Add new standard set",
              classes: "govuk-button--primary"
            }) }}
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
